$header-pink: #ffb8ca;
$menu-pink: #e17992;
$footer-pink: #fff5f6;
$title-pink: #d41443;
$main-font: 'DM Sans', sans-serif;
$accent-font: 'Titan One', sans-serif;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  // overflow-x: hidden;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    padding-left: 34px;
    padding-right: 34px;
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 36px;
    padding-right: 115px;
    width: 1280px;
  }
}
