header {
  background-color: $header-pink;
  margin: 0;
  overflow: hidden;
}

.header {
  position: relative;
  height: 502px;
  background-color: $header-pink;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 768px) {
    height: 399px;
  }
  @media screen and (min-width: 1200px) {
    height: 665px;
  }
  .nav-flex {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      margin-top: 6px;
    }
    @media screen and (min-width: 768px) {
    }
    .logo {
      @media screen and (min-width: 768px) {
        margin-top: 37px;
      }
    }
  }

  .title {
    position: absolute;
    top: 193px;
    z-index: 4;
    @media screen and (min-width: 768px) {
      top: 102px;
    }
    @media screen and (min-width: 1200px) {
      top: 171px;
      left: 69px;
    }

    .header-title {
      color: white;
      font-family: Titan One;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 30px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      z-index: 4;
      @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 25px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 38px;
        line-height: 43.51px;
      }
      span {
        color: $title-pink;
        font-family: Titan One;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 42.37px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        @media screen and (min-width: 768px) {
          font-size: 34px;
          line-height: 0.866;
        }
        @media screen and (min-width: 1200px) {
          font-size: 58px;
          line-height: 0.866;
        }
      }
    }
    .title-buttons {
      display: flex;
      justify-content: left;
      margin-top: 20px;
      .left-button {
        width: 62px;
        height: 24px;
        margin-right: 8px;
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 10px;
        background-color: $title-pink;
        border-radius: 20px;
        color: white;
        border: 0;
        outline: 0;
        transition: all 250ms linear;
        &:hover {
          background-color: white;
          color: $title-pink;
        }
        @media screen and (min-width: 1200px) {
          width: 102px;
          height: 40px;
          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          text-align: center;
        }
      }
      .right-button {
        width: 82px;
        height: 24px;
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 10px;
        background-color: white;
        border-radius: 20px;
        color: $title-pink;
        border: 0;
        outline: 0;
        transition: all 250ms linear;
        &:hover {
          color: white;
          background-color: $title-pink;
        }
        @media screen and (min-width: 1200px) {
          width: 138px;
          height: 40px;
          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          text-align: center;
        }
      }
    }
  }
  .sharik {
    position: absolute;
    top: 83px;
    right: -82px;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: #ffa5ba;
    @media screen and(min-width: 768px) {
      width: 324px;
      height: 322px;
      right: 103px;
      top: 31px;
    }
    @media screen and(min-width: 1200px) {
      width: 538px;
      height: 538px;
      right: 152px;
      top: 52px;
    }
  }
  .ice-cream {
    position: absolute;
    right: 12px;
    bottom: 0;
    @media screen and(min-width: 768px) {
      right: 213px;
    }
    @media screen and(min-width: 1200px) {
      right: 335px;
    }
  }
}

.button-nav-tablet {
  @media screen and (max-width: 767px) {
    display: none;
  }
  width: 160px;
  height: 44px;
  margin-left: 30px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: $title-pink;
  border-radius: 22px;
  border: 0;
  outline: 0;
  transition: all 250ms linear;
  &:hover {
    background-color: $title-pink;
    color: white;
  }
  @media screen and (min-width: 768px) {
    margin-top: 28px;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-top: 38px;
  }
}
.menu-button {
  @media screen and (min-width: 768px) {
    margin-top: 25px;
  }
  @media screen and (max-width: 1199px) {
    width: 20px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background-color: rgba(1, 1, 1, 0);
    outline: 0;
    border: 0;
    z-index: 999;
    fill: red;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 291px;
  }
  display: none;
  .icon-close {
    display: none;
  }
  &.is-open .icon-close {
    display: block;
    width: 20px;
    height: 12px;
    fill: black;
    z-index: 999;
  }
  &.is-open .icon-open {
    display: none;
  }
  &.is-open {
    @media screen and (min-width: 768px) {
      position: fixed;
      margin-left: 100px;
      top: -5px;
      right: 34px;
    }
  }
}

.milk {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  bottom: 28px;
  display: flex;
  align-items: flex-end;
  @media screen and (min-width: 1200px) {
    bottom: 45px;
    left: 31px;
  }
  .milk-flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
  }
  .milk-text {
    display: block;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 150%;
    /* or 12px */
    color: white;
    @media screen and(min-width:1200px) {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      /* or 20px */
    }
  }
  .milk-button {
    width: 18px;
    height: 18px;
    margin-top: 7px;
    @media screen and (min-width: 1200px) {
      width: 26px;
      height: 26px;
    }
  }
}

.tasty {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and(min-width: 1200px) {
    right: 0;
  }
}
.stats {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  top: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 0;
  background-color: transparent;
  list-style: none;
  z-index: 13;
  @media screen and (min-width: 1200px) {
    right: 0;
    top: 156px;
  }
  .stats-item {
    position: relative;
    margin-bottom: 14px;
  }
  .first {
    width: 43px;
    height: 44px;
    @media screen and (min-width: 1200px) {
      width: 72px;
      height: 77px;
    }
  }
  .second {
    width: 51px;
    height: 43px;
    @media screen and (min-width: 1200px) {
      width: 92px;
      height: 76px;
    }
  }
  .main-text {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */
    text-align: left;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    &.lol {
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      font-family: Titan One;
      font-style: normal;
      font-weight: normal;
      font-size: 46px;
      line-height: 53px;
      /* identical to box height */

      text-align: left;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
  }
  .secondary-text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    text-align: center;

    color: #ffffff;
    @media screen and (min-width: 1200px) {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }
  }
  .circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
    @media screen and (min-width: 1200px) {
      width: 30px;
      height: 30px;
    }
  }
}
.backdrop {
  @media screen and (max-width: 1199px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    &.is-open {
      background: rgba(25, 28, 38, 0.2);
      pointer-events: auto;
    }
    z-index: 100;
  }
}
.menu-container {
  @media screen and (max-width: 1199px) {
    position: absolute;
    margin-top: 0;
    right: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    padding: 60px 0 0 0;
    background-color: $menu-pink;
    transform: translateX(100%);
    z-index: 100;
    transition: all 500ms ease;
  }

  &.is-open {
    transform: translateY(0);
  }
  .menu-icon {
    position: absolute;
    right: 24px;
    top: 23px;
  }
}
.menu-button1 {
  width: 209px;
  height: 44px;
  margin-left: 21px;
  margin-bottom: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: $title-pink;
  border-radius: 22px;
  border: 0;
  outline: 0;
  transition: all 250ms linear;
  &:hover {
    background-color: $title-pink;
    color: white;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.nav {
  display: block;
  list-style: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    position: absolute;
    margin-left: 110px;
    margin-top: -1px;
    z-index: 999;
  }
  .item {
    display: flex;
    align-items: center;
    height: 42px;
    white-space: nowrap;
    margin: 0;
    text-align: left;
    border: 1px solid #e18298;
    @media screen and (min-width: 1200px) {
      justify-content: center;
      margin-right: 35px;
      border: 0;
    }
  }
  .link {
    margin-left: 21px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: all 250ms ease;
    @media screen and (min-width: 1200px) {
      margin-left: 0;
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      /* identical to box height */
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .link:hover {
    color: $title-pink;
  }
}
