* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.testimonials {
  // padding-top: 154px;
  padding-bottom: 170px;
  @media screen and (min-width: 768px) {
    // padding-top: 279px;
    padding-bottom: 197px;
  }
  @media screen and (min-width: 1200px) {
    // padding-top: 382px;
    padding-bottom: 234px;
  }

  .background-ice-cream {
    img {
      position: relative;
      top: -48px;

      margin-left: auto;
      margin-right: auto;
      @media screen and (min-width: 768px) {
        top: -106px;
      }
      @media screen and (min-width: 1200px) {
        top: -170px;
      }
    }
  }
  .photo {
    margin-bottom: 29px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
      margin-bottom: 19px;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
    }
  }
  .quotation {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 43px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    background-color: #fafafa;
    background-image: url('./../images/text-background.png'),
      url('./../images/quotes.png');
    background-repeat: no-repeat;
    background-position: center 70px, top 20px left 40px;
    @media screen and (min-width: 768px) {
      background-image: url('./../images/text-background-tablet.png'),
        url('./../images/quotes.png');
      background-position: center 28px, top 28px left 56px;
      padding-bottom: 39px;
      max-width: 600px;
    }
    @media screen and (min-width: 1200px) {
      background-image: url('./../images/text-background-desktop.png'),
        url('./../images/quotes.png');
      background-position: center 32px, top 26px left 50px;
      max-width: 926px;
    }
  }
  .text {
    // width: 150px;
    // margin-left: auto;
    // margin-right: auto;
    max-width: 460px;
    margin-right: auto;
    margin-left: auto;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 255%;
    text-align: center;
    color: #000000;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 216%;
    }
    @media screen and (min-width: 1200px) {
      max-width: 760px;
      font-size: 16px;
      line-height: 186%;
    }
  }
  .dots {
    text-align: center;
    margin-bottom: 18px;
  }
  .name {
    margin-bottom: 30px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    /* or 26px */

    text-align: center;

    color: #000000;
  }
  .icons {
    list-style: none;
    display: flex;
    justify-content: center;
    .item {
      margin-right: 18px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
