<footer class="page-footer">
    <div class="container">
        <div class="positioner">
            <section class="footer-cards">
                <div class="insider">
                    <div>
                        <ul class="footer-list">
                            <li class="title-item-one footer-list-item">
                                <p class="title title-one">Cafe</p>
                            </li>
                            <li class="footer-list-item">
                                <p class="smaller-title">Chicago</p>
                                <p class="text">
                                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                                </p>
                            </li>
                            <li class="footer-list-item">
                                <ul class="cafe-list">
                                    <li class="cafe-item">
                                        <p class="openOnDays">Monday - Friday</p>
                                        <p class="openOnTime">06:00 AM - 10:00 PM</p>
                                    </li>
                                    <li class="cafe-item">
                                        <p class="openOnDays">Saturday - Sunday</p>
                                        <p class="openOnTime">08:00 AM - 16:00 PM</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer-list-item contacts-list">
                                <a href="tel:+610383766284" class="phone-number">+61(0) 383 766 284</a>
                                <a href="mailto:noreply@envato.com" class="email">noreply@envato.com</a>
                            </li>
                        </ul>
                        <ul class="footer-list">
                            <li class="title-item-two footer-list-item">
                                <p class="title title-two">Foodtruck</p>
                            </li>
                            <li class="footer-list-item">
                                <p class="smaller-title">Los Angeles</p>
                                <p class="text">
                                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                                </p>
                            </li>
                            <li class="footer-list-item">
                                <ul class="cafe-list">
                                    <li class="cafe-item">
                                        <p class="openOnDays">Monday - Friday</p>
                                        <p class="openOnTime">06:00 AM - 10:00 PM</p>
                                    </li>
                                    <li class="cafe-item">
                                        <p class="openOnDays">Saturday - Sunday</p>
                                        <p class="openOnTime">08:00 AM - 16:00 PM</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer-list-item">
                                <a href="tel:+610383766284" class="phone-number">+61(0) 383 766 284</a>
                                <a href="mailto:noreply@envato.com" class="email">noreply@envato.com</a>
                            </li>
                        </ul>
                        <ul class="footer-list">
                            <li class="title-item-one footer-list-item">
                                <p class="title title-one">Cafe</p>
                            </li>
                            <li class="footer-list-item">
                                <p class="smaller-title">New York</p>
                                <p class="text">
                                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                                </p>
                            </li>
                            <li class="footer-list-item">
                                <ul class="cafe-list">
                                    <li class="cafe-item">
                                        <p class="openOnDays">Monday - Friday</p>
                                        <p class="openOnTime">06:00 AM - 10:00 PM</p>
                                    </li>
                                    <li class="cafe-item">
                                        <p class="openOnDays">Saturday - Sunday</p>
                                        <p class="openOnTime">08:00 AM - 16:00 PM</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer-list-item">
                                <a href="tel:+610383766284" class="phone-number">+61(0) 383 766 284</a>
                                <a href="mailto:noreply@envato.com" class="email">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="footer-buttons">
                        <li>
                            <button class="button button-one">
                                <p class="button-text">Our Location</p>
                                <p class="button-symbol">></p>
                            </button>
                        </li>
                        <li>
                            <button class="button button-two">
                                <p class="button-text">Franchise</p>
                                <p class="button-symbol">></p>
                            </button>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <section>
            <ul class="intro-list">
                <div class="footer-flex">
                    <div class="left">
                        <li>
                            <p class="homemade">homemade ice cream made</p>
                        </li>
                        <li>
                            <p class="passion">with passion</p>
                        </li>
                    </div>
                    <div class="right">
                        <li class="social-buttons">
                            <button>
                                <svg class="icon">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </button>
                            <button>
                                <svg class="icon">
                                    <use href="./images/sprite.svg#icon-telegram"></use>
                                </svg>
                            </button>
                            <button>
                                <svg class="icon">
                                    <use href="./images/sprite.svg#icon-facebook"></use>
                                </svg>
                            </button>
                        </li>

                        <li class="contact">
                            <p class="theWish">
                                Feel free to contact
                                <a href="tel:+610383766284">+61(0) 383 766 284</a>
                            </p>
                        </li>
                    </div>
                </div>
                <li class="copyright-item">
                    <p class="copyright">&#169; 2019 - IceCream. All Rights Reserved. </p>
                </li>
            </ul>
    </div>
</footer>