<header>
  <div class="header container">
    <div class="nav-flex">
      <a href=""><img src="./images/logo.png" alt="" /></a>
      <button
        type="button"
        class="menu-button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg class="menu-icon" width="20" height="12">
          <use class="icon-open" href="./images/sprite.svg#icon-Burger"></use>
          <use class="icon-close" href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <button class="button-tablet">Buy now ></button>
    </div>
    <div class="backdrop">
      <div class="menu-container" id="menu-container" data-menu>
        <button class="menu-button1">Buy now ></button>
        <ul class="left-nav list">
          <li class="left-item"><a href="" class="left-link">Home</a></li>
          <li class="left-item">
            <a href="" class="left-link">About us</a>
          </li>
          <li class="left-item">
            <a href="" class="left-link">How it’s made?</a>
          </li>
          <li class="left-item">
            <a href="" class="left-link">Our products</a>
          </li>
          <li class="left-item"><a href="" class="left-link">Contacts</a></li>
        </ul>
        <div class="nav-line"></div>
      </div>
    </div>
    <div class="title">
      <h1 class="header-title">
        ice cream <br />
        made with <br />
        <span> passion </span>
      </h1>
      <div class="title-buttons">
        <button class="left-button">Products</button>
        <button class="right-button">How it’s made?</button>
      </div>
    </div>
    <div class="milk">
      <picture>
        <source srcset="./images/milk-image.png 1x" media="(max-width:768px)" />
        <source
          srcset="./images/milk-desktop.png 1x"
          media="(min-width:1200px)"
        />
        <img src="./images/milk-image.png" class="milk-image" alt="" />
      </picture>
      <div class="milk-flex">
        <p class="milk-text">
          Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit,<br />
          sed do eiusmod tempor <br />incididunt ut labore et
        </p>
        <img src="./images/arrow.png" alt="" class="milk-button" />
      </div>
    </div>
    <picture class="tasty">
      <source
        srcset="./images/tasty-desktop.png 1x"
        media="(min-width:1200px)"
      />
      <img src="./images/tasty.png" alt="" />
    </picture>
    <ul class="stats">
      <li class="stats-item">
        <div class="circle"></div>
        <p class="main-text">16</p>
        <p class="secondary-text">cafes</p>
      </li>
      <li class="stats-item">
        <div class="circle"></div>
        <p class="main-text">23</p>
        <p class="secondary-text">food trucks</p>
      </li>
    </ul>
    <div class="sharik-i">
      <div class="sharik"></div>
      <picture>
        <source srcset="./images/ice-cream.png 1x" media="(max-width:767px)" />
        <source
          srcset="./images/ice-cream-tablet.png 1x"
          media="(min-width:768px) and (max-width:1199px)"
        />
        <source
          srcset="./images/ice-cream-desktop.png 1x"
          media="(min-width:1200px)"
        />
        <img src="./images/ice-cream.png" class="ice-cream" alt="" />
      </picture>
    </div>
  </div>
</header>
