<section class="products">
    <div class="container">
        <p class="minor-title">100% Natural</p>
        <h1 class="title">Products</h1>
        <ul class="products-list">
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./images/prod-image1-desktop.png" media="(min-width:1200px)" />
                    <img src="./images/prod-image1.png" alt="" >
                </picture>
                <div class="item-text">
                    <h2 class="item-title">ice cream</h2>
                    <div class="item-circles">
                        <div class="circ"></div>
                        <div class="circ"></div>
                        <div class="circ"></div>
                    </div>
                    <p class="item-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore et. dolore magna
                        aliqua facilisis.
                 </p>
                <p class="item-description-tablet">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore et.
                </p>
                    <button class="item-button"><img src="./images/products-arrow-x4.png" alt="" width="40" height="40"></button>
                </div>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./images/prod-pic2-desktop.png" media="(min-width:1200px)" />
                    <img src="./images/prod-pic2.png" alt="">
                </picture>
                <div class="item-text">
                    <h2 class="item-title">ice cream</h2>
                    <div class="item-circles">
                        <div class="circ"></div>
                        <div class="circ"></div>
                        <div class="circ"></div>
                    </div>
                    <p class="item-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore et.
                        dolore magna
                        aliqua facilisis.
                    </p>
                    <p class="item-description-tablet">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore et.
                    </p>
                    <button class="item-button"><img src="./images/products-arrow-x4.png" alt="" width="40" height="40"></button>
                </div>
            </li>
            <li class="products-item">
                <picture class="products-image">
                    <source srcset="./images/prod-pic3-desktop.png" media="(min-width:1200px)" />
                    <img src="./images/prod-pic3.png" alt="">
                </picture>
                <div class="item-text">
                    <h2 class="item-title">ice cream</h2>
                    <div class="item-circles">
                        <div class="circ"></div>
                        <div class="circ"></div>
                        <div class="circ"></div>
                    </div>
                    <p class="item-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore et.
                        dolore magna
                        aliqua facilisis.
                    </p>
                    <p class="item-description-tablet">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore et.
                    </p>
                    <button class="item-button"><img src="./images/products-arrow-x4.png" alt="" width="40" height="40"></button>
                </div>
            </li>

        </ul>
    </div>
</section>