<section class="testimonials">
  <div class="background-ice-cream">
    <picture>
      <source
        srcset="
          ./images/testimonial-bg-desktop.png    1x,
          ./images/testimonial-bg-desktop@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/testimonial-bg-tablet.png    1x,
          ./images/testimonial-bg-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/testimonial-bg.png    1x,
          ./images/testimonial-bg@2x.png 2x
        "
      />
      <img src="./images/testimonial-bg.png" alt="" />
    </picture>
  </div>
  <div class="container">
    <img
      class="photo"
      src="./images/photo1.png"
      srcset="./images/photo1@2x.png 2x"
      alt=""
    />
    <div class="quotation">
      <p class="text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </div>
    <div class="dots">
      <svg class="icon" width="40" height="40">
        <use xlink:href="./images/sprite.svg#red-dots"></use>
      </svg>
    </div>
    <p class="name">Emily, Los Angeles</p>
    <ul class="icons">
      <li class="item">
        <svg class="icon" width="12" height="12">
          <use xlink:href="./images/sprite.svg#home"></use>
        </svg>
      </li>
      <li class="item">
        <svg class="icon" width="12" height="12">
          <use xlink:href="./images/sprite.svg#one-dot"></use>
        </svg>
      </li>
      <li class="item">
        <svg class="icon" width="12" height="12">
          <use xlink:href="./images/sprite.svg#one-dot"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
