<div class="background-ice-cream">
  <picture>
    <source
      srcset="
        ./images/testimonial-bg-desktop.png    1x,
        ./images/testimonial-bg-desktop@2x.png 2x
      "
      media="(min-width: 1200px)"
    />
    <source
      srcset="
        ./images/testimonial-bg-tablet.png    1x,
        ./images/testimonial-bg-tablet@2x.png 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="./images/testimonial-bg.png 1x, ./images/testimonial-bg@2x.png 2x"
    />
    <img src="./images/testimonial-bg.png" alt="" />
  </picture>
</div>
<section class="testimonials">
  <div class="slider">
    <input
      class="slider__nav"
      type="radio"
      name="slider"
      title="slide1"
      checked="checked"
    />
    <input class="slider__nav" type="radio" name="slider" title="slide2" />
    <input class="slider__nav" type="radio" name="slider" title="slide3" />

    <div class="slider__inner">
      <div class="slider__contents">
        <img
          class="slider__image"
          class="photo"
          src="./images/photo1.png"
          srcset="./images/photo1@2x.png 2x"
          alt=""
        />

        <div class="quotation">
          <p class="text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="dots">
          <svg class="icon" width="40" height="40">
            <use xlink:href="./images/sprite.svg#red-dots"></use>
          </svg>
        </div>
        <p class="name">Emily, Los Angeles</p>
      </div>
      <div class="slider__contents">
        <img
          class="slider__image"
          class="photo"
          src="./images/photo2.png"
          srcset="./images/photo2@2x.png 2x"
          alt=""
        />
        <div class="quotation">
          <p class="text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="dots">
          <svg class="icon" width="40" height="40">
            <use xlink:href="./images/sprite.svg#red-dots"></use>
          </svg>
        </div>
        <p class="name">Olga, Kyiv</p>
      </div>
      <div class="slider__contents">
        <img
          class="slider__image"
          class="photo"
          src="./images/photo3.png"
          srcset="./images/photo3@2x.png 2x"
          alt=""
        />

        <div class="quotation">
          <p class="text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="dots">
          <svg class="icon" width="40" height="40">
            <use xlink:href="./images/sprite.svg#red-dots"></use>
          </svg>
        </div>
        <p class="name">Ann, London</p>
      </div>
    </div>
  </div>
</section>
